.main-header{
    position: fixed;
    top: 0;
    background-color: black;
    color: white;
    padding-block: 1.3rem;
    width: 100%;
}

.navbar{
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.nav-brand-link{
    font-weight: bold;
    font-size: 1.6em;
}

.nav-items{
    font-size: 1.2em;
    display: flex;
    gap: 1rem;
}

.burger-menu{
    display: none;
}

.burger-menu .line{
    border-radius: 5px;
    background-color: white;
    height: 5px;
    width: 2.6rem;
    transition: 0.3s ease;
}

/*CONTENT---------------------------------------------------------------------*/
.title{    
    padding: 1rem;
    display: inline;
}

.container{
    margin-block: 10rem;
    margin-inline: auto;
    width: 80%;
}

img{
    width: 200px;
    height: 250px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cart-item{
    padding: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.content > * {
    flex: 1;
}

.product{
    text-align: center;
    padding: 1rem;
}

.product > *{
    margin-block: 10px;
}

.btn-buy button{
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: orange;
    color: white;
}

.btn-buy button:hover{
    background-color: rgb(219, 143, 3);
}

/*MEDIA QUERIES------------------------------------------------------------------*/

@media(max-width: 950px){
    .burger-menu{
        display: flex;
        flex-direction: column;
        gap: 7px;
        cursor: pointer;
    }

    .nav-items{
        background-color: black;
        position: absolute;
        flex-direction: column;
        top: 4.5rem;
        width: 960px;
        padding: 1rem;
        transform: translate(-200%);
        transition: 0.3s ease-in;
    }

    /*STYLE TO ACTIVATE THE STYLE*/
    .nav-active{
        opacity: 1;
        transform: translateX(0%);
        align-items: space-around;
    }
}
